<div class="counter-something js-list">
  <ul class="count__list">
    <li class="count__item count__up count__arrow">up</li>
    <li class="count__item count__start">start</li>
    <span class="count__item count__decor">⋯</span>
    <li class=" count__item count__minus-two">current-2</li>
    <li class="count__item count__minus-one">current-1</li>
    <li class="count__item count__current">current</li>
    <li class="count__item count__plus-one">current+1</li>
    <li class="count__item count__plus-two">current+2</li>
    <span class="count__item count__decor">⋯</span>
    <li class=" count__item count__end">end</li>
    <li class="count__item count__down count__arrow">down</li>
  </ul>
</div>